<!-- About Page Content -->
<main class="pt-20">
    <h2 class="text-5xl font-bold text-center text-gray-800 my-8">
        About Layal
    </h2>
    <div class="justify-center py-8 px-8 sm:w-4/5 md:w-4/5 lg:w-2/3 xl:w-2/3 mx-auto bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
        <img class="mx-auto w-52 rounded-xl sm:mx-5 sm:flex-shrink-0" src="images/LayalLiverpool3_crop.jpg" alt="Layal Liverpool">
        <h3 class="text-xl text-gray-600 mb-4 w-4/5 mx-auto">
            Layal Liverpool is a science journalist and author based in Berlin, Germany. Her debut book
            <a class="italic underline" href="books.html">Systemic: How Racism Harms Health — and What We Can Do
                About It</a> is out now.
            <br><br>

            Layal's journalism has spanned diverse science topics, including technology, physics, the
            environment and health,
            with a particular focus on inequalities in science, health and medicine. Her writing has appeared in
            <a class="italic underline" href="https://www.nature.com/search?author=Layal+Liverpool">Nature</a>,
            <a class="italic underline" href="https://www.newscientist.com/author/layal-liverpool">New Scientist</a>,
            <a class="italic underline" href="https://www.wired.co.uk/profile/layal-liverpool">WIRED</a>,
            the <a class="italic underline" href="https://www.theguardian.com/profile/layal-liverpool">Guardian</a>,
            and elsewhere, and she has worked on staff as a reporter for both <i>Nature</i> and <i>New Scientist</i>.
            <br><br>
            Before moving into journalism, Layal worked as a biomedical researcher at University College London
            and the University of Oxford in the UK. She has a PhD in virology and immunology from Oxford.
        </h3>
    </div>
    <div class="pt-40"></div>
</main>