<header id="up" class="h-screen">
    <div class="h-screen bg-layal-hero bg-center bg-cover">
        <!-- Overlay Background + Center Control -->
        <div class="h-screen bg-opacity-50 bg-black flex items-center justify-center"
            style="background:rgba(0,0,0,0.5);">
            <div class="mx-2 text-center">
                <div class="py-5">
                    <h1 class="text-gray-100 font-extrabold text-4xl xs:text-5xl md:text-6xl">
                        <span class="">Layal</span> Liverpool
                    </h1>
                </div>
                <h2 class="text-gray-400 font-extrabold text-3xl xs:text-4xl md:text-5xl leading-tight">
                    <span class="">Science journalist & author</span>
                </h2>
            </div>
        </div>
    </div>
</header>