<!-- Journalism Page Content -->
<main class="pt-20">
    <h2 class="text-5xl font-bold text-center text-gray-800 my-8">
        Selected works
    </h2>
    <div class="p-8 sm:w-4/5 md:w-4/5 lg:w-2/3 xl:w-2/3 mx-auto bg-white rounded-xl shadow-lg sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
        <div class="text-center sm:text-left">
            <h3 class="text-xl text-center text-gray-600 mb-4 w-4/5 mx-auto">
                In 2021, Layal was shortlisted for a 
                <a class="underline" href="https://pressgazette.co.uk/best-journalism-of-2021-revealed-british-journalism-awards-shortlists/">British Journalism Award</a> 
                based on her health and life sciences reporting for <i>New Scientist</i>. She has also been shortlisted for awards by the 
                <a class="underline" href="https://mjauk.org/2024/06/10/new-members-update">Medical Journalists' Association</a> 
                and the 
                <a class="underline" href="https://www.absw.org.uk/pages/115-absw-awards-2021-shortlists-and-winners">Association of British Science Writers</a>, 
                and she was the recipient of a 
                <a class="underline" href="https://www.britishscienceassociation.org/media-fellow-alumni">British Science Association Media Fellowship</a> in 2018.
            </h3>

            <div class="flex flex-wrap justify-center sm:w-full md:w-full lg:w-full xl:w-full">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                    {{content}}
                </div>
            </div>
        </div>
    </div> 
    <div class="pt-20"></div>
</main>