<!-- Press Page Content -->
<main class="pt-20">
    <h2 class="text-5xl font-bold text-center text-gray-800 my-8">
        Press & interviews
    </h2>
    <div class="p-8 sm:w-4/5 md:w-4/5 lg:w-2/3 xl:w-2/3 mx-auto bg-white rounded-xl shadow-lg sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
        <div class="text-center sm:text-left">
            <h3 class="text-xl text-center text-gray-600 mb-4 w-4/5 mx-auto">
                Layal is a recognised expert in biomedical science and health; she has been interviewed by and had her 
                work featured in major international news outlets, and she has appeared on radio, podcasts, TV and 
                social media broadcasts internationally. Layal has also delivered talks and participated in discussion 
                panels at world-leading universities, such as Oxford and Princeton, as well as at prominent conferences 
                and festivals, including the Frankfurt Book Fair and the Hay Festival.
                <p class="p-8">
                    For press or event enquiries, please <a class="underline" href="contact.html">click here</a>.
                </p>
            </h3>

            <div class="flex flex-wrap justify-center sm:w-full md:w-full lg:w-full xl:w-full p-4">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    {{content}}
                </div>
            </div>
        </div>
    </div> 
    <div class="pt-20"></div>
</main>